.Rproj.user
.Rhistory
.RData
.Ruserdata
output/
**arch/
Example_BBS_data.R
maps/
observer_mixture/
models/*.exe
Figures/
doc/
data/archived_bbsBayes_2019.rds
data/
*.docx
*.knit.md
*.log
*.tex
*.bib
*_cache/
*_files/
test.jags
**stratum.csv



